@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

body{
  background-image: 
  linear-gradient(to bottom, rgba(0,0,0,0) 50%, rgba(9, 58, 136, 0.575)),
  url('./assets/Texture-BG.jpg');
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  min-height: 100vh;
}

.error{
  font-size: 100%;
  color: white;
}
.app{
  display: grid;
  padding: 40px;
  justify-items: center;
  width: 100%;
  row-gap: 60px;

  transition: 0.4s ease-in-out;
}

.search-box{
  width: 60%;
}

.search-box h1{
  text-align: center;
  color: white;
  padding: 0 0 20px 0;
  text-transform: capitalize;
}

.search-box input{
  width: 100%;
  padding: 10px 25px;
  font-size: 30px;
  color: white;

  border: none;
  outline: none;
  
  box-shadow: 6px 5px 6px 4px #0000006b;
  border-radius: 3px;
  background-color:rgba(255, 255, 255, 0.205);

}

::-webkit-input-placeholder {
   color: rgba(255, 255, 255, 0.705);
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(235, 235, 235, 0.705);  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(255, 255, 255, 0.698);  
}

:-ms-input-placeholder {  
   color: rgba(255, 255, 255, 0.705);  
}

.container{
  display: grid;
  gap: 60px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.cards{
  justify-self: center;
  font-size: 30px;
  text-align: center;
  color: white;

  transition: 1s ease-in-out;
}

.cards div{
  background-color: rgba(0, 0, 0, 0.301);
  width: 100%;
  padding: 10px 5px;
}

.cards img{
  filter: grayscale(50%);
  width: 220px;
  cursor: pointer;
  box-shadow: 2px 3px 20px 2px black;
}

.cards img:hover .box-description{
  background-color: rgba(0, 153, 255, 0.192);

  transition: 0.2s ease-in-out;
}

.cards img:hover{
  filter: grayscale(0);
  box-shadow: 2px 3px 20px 2px rgb(0, 132, 255);
  transform: scale(1.05);

  transition: 0.2s ease-in-out;
}

.cards .title{
  font-size: 80%;
}

.cards .range{
  font-style: italic;
  font-size: 25px;
  color: rgb(170, 170, 170);
}