@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap');

.root{
  display: grid;
}

.groupContainer{
  display: grid;
  padding: 50px 0 50px 50px;
  grid-template-columns: 2fr 3fr;
  color: white;
  width: 95%;
  max-width: 1200px;
  min-height: 100vh;
  justify-self: center;
  align-self: center;
}

.text_header{
  grid-template-columns: 3fr 1fr !important;
}

.text_header span,a{
  justify-self: end;
  align-self: start;
  font-size: 48px;
  cursor: pointer;
  color: rgb(136, 13, 13);
  text-shadow: 0px 0px 20px red;
}

.text_header span:hover{
  color: black;

  transition: 0.3s ease-in-out;
}

.img-container{
  justify-self: right;
  align-self: center;
  display: grid;
}

.description-container{
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.712);
  max-height: 85vh;
}

.img-container img{
  justify-self: right;
  display: block;
  position: relative;
  width: 400px;
  max-height: 85vh;
  object-fit: cover;
}

.inline_itens{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title{
  font-size: 40px;
  text-align: center;
}

.type{
  font-size: 25px;
  font-style: italic;
  text-align: center;
  text-transform: capitalize;
}

.category{
  padding: 0 10%;
  font-size: 18px;
  color: rgb(214, 214, 214);
  margin-top: 20px;
  text-align: center;
}

.description{
  margin-top: 40px;
  font-size: 22px;
  text-align: justify;
  align-self: center;
}

.duration, .idiom{
  font-size: 22px;
  color: rgb(168, 168, 168);
}

.bottom{
  padding: 50px 10px;
}

.classification{
  text-align: center;
  color: rgb(0, 217, 255);
  font-size: 20px;
  font-weight: 700;
}